# First Python Notebook: Stanford Fall 2022 edition

An guide to analyzing money in politics with the [Python](https://www.python.org/) programming language and a [Jupyter](https://jupyter.org/) notebook
   
By [Ben Welsh](https://palewi.re/who-is-ben-welsh/)

First developed in 2016, ["First Python Notebook"](https://palewi.re/docs/first-python-notebook/) is a tutorial that guides students through a data-driven investigation of money in California politics. It is most commonly taught as a six-hour, in-person class. This document is an updated, and abbreviated, spin-off for Stanford students in the fall 2022 semester

You will learn just enough of the Python computer programming language to work with the [pandas](https://pandas.pydata.org/) library, a popular open-source tool for analyzing data. The course will teach you how to read, filter, join, group, aggregate and rank structured data by developing an investigation of the money raised to campaign for ballot measures in the upcoming November election.

The class, which we will code together live below, walks through [the standard "First Python Notebook" tutorial](https://palewi.re/docs/first-python-notebook/index.htmlhttps://palewi.re/docs/first-python-notebook/index.html), substituting in data files from the current campaign.

In [1]:
2+2

4

In [2]:
number = 2 + 3 + 3

In [3]:
number

8

In [4]:
import pandas as pd

In [5]:
my_list = [1, 3, 5, 7, 9, 3, 3, 3, 62, 2.5]

In [6]:
my_series = pd.Series(my_list)

In [7]:
my_series.sum()

98.5

In [8]:
my_series.max()

62.0

In [9]:
my_series.min()

1.0

In [10]:
my_series.mean()

9.85

In [11]:
my_series.median()

3.0

In [12]:
my_series.std()

18.47528378973138

In [13]:
my_series.describe()

count    10.000000
mean      9.850000
std      18.475284
min       1.000000
25%       3.000000
50%       3.000000
75%       6.500000
max      62.000000
dtype: float64

In [14]:
committee_list = pd.read_csv("committees.csv")

In [15]:
committee_list.head() # first five rows

,filer_id,name,proposition,position
0,1451868,WOMEN FOR REPRODUCTIVE FACTS- NO ON PROP 1,1,oppose
1,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose
2,1357909,ATKINS BALLOT MEASURE COMMITTEE; YES ON PROPOS...,1,support
3,1452181,PLANNED PARENTHOOD ADVOCACY PROJECT LOS ANGELE...,1,support
4,1425966,NO ON THE GAMBLING POWER GRAB: A COMMITTEE OF ...,26,oppose

In [16]:
committee_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   filer_id     21 non-null     int64
 1   name         21 non-null     object
 2   proposition  21 non-null     int64
 3   position     21 non-null     object
dtypes: int64(2), object(2)
memory usage: 572.0+ bytes

In [17]:
committee_list.position # dataframe to series

0      oppose
1      oppose
2     support
3     support
4      oppose
5     support
6      oppose
7     support
8      oppose
9      oppose
10    support
11    support
12    support
13     oppose
14     oppose
15     oppose
16    support
17    support
18    support
19    support
20     oppose
Name: position, dtype: object

In [18]:
committee_list.position.value_counts()

support    11
oppose     10
Name: position, dtype: int64

In [19]:
committee_list.proposition.value_counts()

30    5
1     4
26    3
27    3
29    3
31    2
28    1
Name: proposition, dtype: int64

In [22]:
# committee_list.head(21)
display(committee_list)

,filer_id,name,proposition,position
0,1451868,WOMEN FOR REPRODUCTIVE FACTS- NO ON PROP 1,1,oppose
1,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose
2,1357909,ATKINS BALLOT MEASURE COMMITTEE; YES ON PROPOS...,1,support
3,1452181,PLANNED PARENTHOOD ADVOCACY PROJECT LOS ANGELE...,1,support
4,1425966,NO ON THE GAMBLING POWER GRAB: A COMMITTEE OF ...,26,oppose
5,1424396,"YES ON 26, NO ON 27 - COALITION FOR SAFE, RESP...",26,support
6,1439178,NO ON 26 - TAXPAYERS AGAINST SPECIAL INTEREST ...,26,oppose
7,1440682,YES ON 27 - CALIFORNIANS FOR SOLUTIONS TO HOME...,27,support
8,1443032,NO ON 27 - CALIFORNIANS FOR TRIBAL SOVEREIGNTY...,27,oppose
9,1424396,"YES ON 26, NO ON 27 - COALITION FOR SAFE, RESP...",27,oppose
10,1442974,YES ON 28 - CALIFORNIANS FOR ARTS AND MUSIC IN...,28,support
11,1398274,CALIFORNIANS FOR KIDNEY DIALYSIS PATIENT PROTE...,29,support
12,1373047,"SERVICE EMPLOYEES INTERNATIONAL UNION, UNITED ...",29,support
13,1442293,NO ON 29: STOP YET ANOTHER DANGEROUS DIALYSIS ...,29,oppose
14,1450340,NO ON 30,30,oppose
15,1453920,NO ON 30 - EDUCATORS OPPOSED TO CORPORATE HAND...,30,oppose
16,1444991,CALIFORNIA ENVIRONMENTAL VOTERS ISSUES COMMITT...,30,support
17,1449331,YES ON 30: WORKING FAMILIES AND ENVIRONMENTAL ...,30,support
18,1443818,"YES ON 30: CLEAN AIR CALIFORNIA, A COALITION O...",30,support
19,1436431,"YES ON PROPOSITION 31, COMMITTEE TO PROTECT CA...",31,support
20,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose

In [38]:
# only committees active on measure 30

# committee_list.proposition == 30 # column proposition, prints true or false for each = 30
my_committees = committee_list[committee_list.proposition == 26] # chooses which to discard based on truth or false
my_committees = committee_list[committee_list.proposition.isin([26, 27])] # chooses which to discard based on truth or false
# committee_list[committee_list.proposition == 30].position.value_counts()

In [45]:
gaming_tribes = [1424396]
antigambling = []
online_gambling_companies = [1440682]

In [46]:
display(my_committees)

,filer_id,name,proposition,position
4,1425966,NO ON THE GAMBLING POWER GRAB: A COMMITTEE OF ...,26,oppose
5,1424396,"YES ON 26, NO ON 27 - COALITION FOR SAFE, RESP...",26,support
6,1439178,NO ON 26 - TAXPAYERS AGAINST SPECIAL INTEREST ...,26,oppose
7,1440682,YES ON 27 - CALIFORNIANS FOR SOLUTIONS TO HOME...,27,support
8,1443032,NO ON 27 - CALIFORNIANS FOR TRIBAL SOVEREIGNTY...,27,oppose
9,1424396,"YES ON 26, NO ON 27 - COALITION FOR SAFE, RESP...",27,oppose

In [84]:
unique_committees = committee_list[
    ~(
        (committee_list.filer_id == 1424396) &
        (committee_list.proposition == 26)
    )
]

In [47]:
my_committees.position.value_counts()

oppose     4
support    2
Name: position, dtype: int64

In [52]:
contribs_list = pd.read_csv("contributions.csv")

In [54]:
contribs_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1498 entries, 0 to 1497
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   filer_id                  1498 non-null   int64
 1   date_filed                1498 non-null   object
 2   filing_id                 1498 non-null   int64
 3   id                        1347 non-null   float64
 4   date_received             1498 non-null   object
 5   contributor_committee_id  204 non-null    object
 6   contributor_firstname     410 non-null    object
 7   contributor_lastname      1498 non-null   object
 8   contributor_employer      386 non-null    object
 9   contributor_occupation    405 non-null    object
 10  contributor_city          1347 non-null   object
 11  contributor_state         1347 non-null   object
 12  contributor_zip           1347 non-null   object
 13  amount                    1498 non-null   float64
 14  is_loan                   1498 non-null   bool
 15  source                    1498 non-null   object
dtypes: bool(1), float64(2), int64(2), object(11)
memory usage: 112.7+ KB

In [85]:
merged_list = pd.merge(unique_committees, contribs_list, on="filer_id")

In [86]:
display(merged_list)

,filer_id,name,proposition,position,date_filed,filing_id,id,date_received,contributor_committee_id,contributor_firstname,contributor_lastname,contributor_employer,contributor_occupation,contributor_city,contributor_state,contributor_zip,amount,is_loan,source
0,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157845.0,2022-09-24,NaN,DAVID,CALAVITTA,LIFE TEEN,MARKETING,RANCHO SANTA MARGARITA,CA,92688,100.00,False,form460
1,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157846.0,2022-09-24,NaN,HELENE,ROWLETTE,RETIRED,RETIRED,HUNTINGTON BEACH,CA,92649,500.00,False,form460
2,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157997.0,2022-09-22,NaN,JACQUELINE,BRICHETTO,SELF EMPLOYED - JACQUELINE BRICHETTO,FARMER,OAKDALE,CA,95361,100.00,False,form460
3,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157998.0,2022-09-22,NaN,NaN,KNIGHTS OF COLUMBUS SUPREME COUNCIL,NaN,NaN,NEW HAVEN,CT,06510,500000.00,False,form460
4,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157999.0,2022-09-22,NaN,LIEN,PHAM,NaN,INFORMATION REQUESTED,EL MONTE,CA,91732,100.00,False,form460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-10-03,2727685,NaN,2022-10-01,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,25000.00,False,form497
1494,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-10-03,2727685,NaN,2022-09-29,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,18290.68,False,form497
1495,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-10-03,2727685,NaN,2022-09-30,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,735.00,False,form497
1496,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-10-03,2727685,NaN,2022-10-01,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,3490.86,False,form497
1497,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-09-29,2726470,NaN,2022-09-27,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,49956.01,False,form497

In [68]:
len(contribs_list)

1498

In [87]:
merged_list

,filer_id,name,proposition,position,date_filed,filing_id,id,date_received,contributor_committee_id,contributor_firstname,contributor_lastname,contributor_employer,contributor_occupation,contributor_city,contributor_state,contributor_zip,amount,is_loan,source
0,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157845.0,2022-09-24,NaN,DAVID,CALAVITTA,LIFE TEEN,MARKETING,RANCHO SANTA MARGARITA,CA,92688,100.00,False,form460
1,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157846.0,2022-09-24,NaN,HELENE,ROWLETTE,RETIRED,RETIRED,HUNTINGTON BEACH,CA,92649,500.00,False,form460
2,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157997.0,2022-09-22,NaN,JACQUELINE,BRICHETTO,SELF EMPLOYED - JACQUELINE BRICHETTO,FARMER,OAKDALE,CA,95361,100.00,False,form460
3,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157998.0,2022-09-22,NaN,NaN,KNIGHTS OF COLUMBUS SUPREME COUNCIL,NaN,NaN,NEW HAVEN,CT,06510,500000.00,False,form460
4,1449991,"CALIFORNIA TOGETHER, NO ON PROPOSITION 1",1,oppose,2022-09-29,2726505,10157999.0,2022-09-22,NaN,LIEN,PHAM,NaN,INFORMATION REQUESTED,EL MONTE,CA,91732,100.00,False,form460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1493,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-10-03,2727685,NaN,2022-10-01,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,25000.00,False,form497
1494,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-10-03,2727685,NaN,2022-09-29,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,18290.68,False,form497
1495,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-10-03,2727685,NaN,2022-09-30,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,735.00,False,form497
1496,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-10-03,2727685,NaN,2022-10-01,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,3490.86,False,form497
1497,1431407,NO ON PROP 31 - CALIFORNIANS AGAINST PROHIBITI...,31,oppose,2022-09-29,2726470,NaN,2022-09-27,NaN,NaN,R.J. REYNOLDS TOBACCO COMPANY AND ITS AFFILIATES,NaN,NaN,NaN,NaN,NaN,49956.01,False,form497

In [89]:
my_contribs = merged_list[merged_list.proposition == 30]

In [94]:
my_contribs.info()
len(my_contribs)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 1088 to 1239
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   filer_id                  152 non-null    int64
 1   name                      152 non-null    object
 2   proposition               152 non-null    int64
 3   position                  152 non-null    object
 4   date_filed                152 non-null    object
 5   filing_id                 152 non-null    int64
 6   id                        120 non-null    float64
 7   date_received             152 non-null    object
 8   contributor_committee_id  14 non-null     object
 9   contributor_firstname     110 non-null    object
 10  contributor_lastname      152 non-null    object
 11  contributor_employer      104 non-null    object
 12  contributor_occupation    110 non-null    object
 13  contributor_city          120 non-null    object
 14  contributor_state         120 non-null    object
 15  contributor_zip           120 non-null    object
 16  amount                    152 non-null    float64
 17  is_loan                   152 non-null    bool
 18  source                    152 non-null    object
dtypes: bool(1), float64(2), int64(3), object(13)
memory usage: 15.0+ KB

152

In [95]:
my_contribs.position.value_counts()

oppose     95
support    57
Name: position, dtype: int64

In [96]:
my_contribs.amount.sum()

59318464.5

In [98]:
my_contribs.groupby("position").amount.sum()

position
oppose     12187227.5
support    47131237.0
Name: amount, dtype: float64

In [102]:
my_contribs.groupby(["contributor_lastname", "position"]).amount.sum() # groupby doesn't return dataframe, return annotated series

contributor_lastname                                     position
ABBEY                                                    oppose       10000.0
ATWATER                                                  oppose      200000.0
BAKER JR.                                                oppose      506736.0
BARGER                                                   oppose       25000.0
BARNUM                                                   oppose        1000.0
                                                                       ...
WHITMAN                                                  oppose        2500.0
WILSEY                                                   oppose      125000.0
WOLFF                                                    oppose        5000.0
WOODCLIFF CONTENT INC.                                   oppose       50000.0
ZINC COLLECTIVE LLC(RESPONSIBLE OFFICER: REBECCA LEAL )  support     200000.0
Name: amount, Length: 107, dtype: float64

In [104]:
my_contribs.groupby(["contributor_lastname", "position"]).amount.sum().reset_index().sort_values("amount", ascending=False)

                                 contributor_lastname position      amount
65                                         LYFT, INC.  support  45240000.0
33                                             FISHER   oppose   1830000.0
52  INTERNATIONAL BROTHERHOOD OF ELECTRICAL WORKER...  support   1000000.0
22                                               DEAN   oppose   1000000.0
75                                             MORITZ   oppose   1000000.0
..                                                ...      ...         ...
53                                             ISRAEL  support       250.0
28                                               EDDY  support       100.0
49                                         HOFGAARDEN   oppose       100.0
57                                               KAMM  support       100.0
59                                              KARSH   oppose         0.0

[107 rows x 3 columns]